body {
  background-color: #f0eaeaf1;
  margin: 0;
  padding: 0;
  font: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: auto; /*가운데정렬 */
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0; /*●제거*/
}
/* header */
header {
  background-color: #35424a;
  color: white;
  min-height: 70px;
  padding-top: 30px;
  border-bottom: #e8491d 5px solid;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

header li {
  display: inline; /*세로로 있던게 가로로 정렬됨*/
  padding: 0 10px;
  float: left;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #e8491d;
  font: bold;
}

header a:hover {
  color: #aaaaaa;
  font-weight: bold;
}

header a:active {
  color: #888888;
  font-weight: bold;
}

#showcase {
  background: url('../img/showcase.jpg') no-repeat 0 -400px;
  min-height: 400px;
  color: white;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

#newsletter {
  background-color: #35424a;
  color: white;
  padding: 15px;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type='email'] {
  padding: 4px;
  height: 25px;
  width: 300px;
  margin-right: 10px;
}

#newsletter form input[type='email'],
.quote input,
.quote textarea {
  width: 100%;
  margin-bottom: 5px;
}

.button_1 {
  height: 38px;
  background-color: #e8491d;
  border: 0;
  padding: 0 20px;
  color: white;
}

#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 100px;
}

footer {
  padding: 10px;
  margin-top: 20px;
  color: white;
  background-color: #e8491d;
  text-align: center;
}

#newsletter .container form {
  display: flex;
}

.dark {
  padding: 15px;
  background-color: #35424a;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 65%;
}

/* Media Quaries  */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }
  #newsletter button,
  .quote button,
  header li {
    display: block;
    width: 100%;
  }
}
